body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 36px;
    font-weight: bold;
    color: #222;
    text-align: center;
    margin-bottom: 20px;
}

.image1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.batmanMobile {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.content {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.link {
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 40px 0;
}